/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
body .sectionColor {
  background-color: #f6f0eb;
}
body h1 {
  transition: all 300ms ease-in-out;
  font-size: 2.5rem;
  line-height: 1.5;
  color: #103355;
}
body h1:hover {
  color: #f37a5f;
}
body h2 {
  color: #26659c;
  font-size: 2rem;
}
body h3 {
  color: #26659c;
}
body div,
body p {
  color: #103355;
  line-height: 1.6;
}

/* INICIO HEADER */
header {
  background-color: white;
  top: 0;
  position: sticky;
  z-index: 999;
  height: 100px;
}
header .container-fluid .navbar div .navbar-brand svg {
  width: 180px;
  height: 86px;
}
header .container-fluid .navbar .collapse .navbar-nav .nav-item .nav-link {
  font-size: 1.5rem;
  color: #26659c !important;
}
header
  .container-fluid
  .navbar
  .collapse
  .navbar-nav
  .nav-item
  .nav-link:hover {
  color: #37bcf9 !important;
}

/* FIN HEADER */
/* INICIO MAIN INDEX */
main .sectionColor .container .row .div1Index img {
  width: 350px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

main .sectionColor .container .row .animate__animated #msgError {
  text-align: center;
  color: #b50606;
  background-color: #f9cbcb;
  padding: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  display: none;
}

main .sectionColor .container .row .animate__animated #msgSuccess {
  text-align: center;
  color: #039e03;
  background-color: #cff9d1;
  padding: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  display: none;
}

main .sectionColor .container .row .animate__animated .form .label-float {
  position: relative;
  padding-top: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
}

main .sectionColor .container .row .animate__animated .form .label-float .form-inputs {
  border: none;
  outline: 0;
  border-bottom: 1px solid #f29e9c;
  margin-top: 15px;
}

main .sectionColor .container .row .animate__animated .form .label-float label {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0; 
} 

main .sectionColor .container .row .form-button {
  width: 150px;
  height: 40px;
  display: block;
  margin: 30px auto;
  font-family: "Ubuntu", sans-serif;
  border-radius: 10px;
}

main .sectionColor .container .row .firstButton {
  background-color: #ed494a;
  color: white;
}

main .sectionColor .container .row .secondButton {
  background-color: white;
  color: #ed494a;
}

main .sectionColor .container .row .animate__animated .form .linkLogin {
  text-decoration: none;
  color: white;
}

main .sectionColor .container .row .animate__animated .form #textRegister {
  color: #ed494a;
}

main .sectionColor .container .row .animate__animated .form .label-float .fa-eye {
  position: absolute;
  top: 8px;
  right: 10px;
  cursor: pointer; 
}

/* FIN MAIN INDEX */
/* INICIO MAIN TIENDA */
main .sectionColor .btn {
  text-align: center;
  vertical-align: middle;
  padding: 0.67em 0.67em;
  cursor: pointer;
}

main .sectionColor .btn-primary {
  color: white;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

main .sectionColor .cabeceraCarrito {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

main .sectionColor .carritoColumna {
  display: flex;
  align-items: center;
  margin: 10px;
}

main .sectionColor .filaCarrito {
  display: flex;
}

main .sectionColor .carritoArticulo {
  width: 45%;
}

main .sectionColor .carritoPrecio {
  width: 20%;
  font-size: 1.2em;
}

main .sectionColor .carritoCantidadTitulo {
  width: 35%;
}

main .sectionColor .carritoArticuloTitulo {
  margin-left: .5em;
  font-size: 1.2em;
}

main .sectionColor .carritoArticuloImagen {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

main .sectionColor .btn-danger {
  color: white;
  background-color: #ff5100;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

main .sectionColor .carritoCantidad {
  height: 40px;
  width: 45px;
  border-radius: 5px;
  border: 1px solid #f29e9c;
  background-color: #eee;
  text-align: center;
  font-size: 1.2em;
  margin: 0 25px 0 0;
}

main .sectionColor .carritoTotal {
  text-align: end;
  margin: 10px;
}

main .sectionColor .carritoTotalTitulo {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0 20px;
}

main .sectionColor .precioTotal {
  font-size: 1.5em;
}

main .sectionColor .btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.5em;
}

/* FIN MAIN TIENDA */
/* INICIO MAIN CONTACTO */
main .sectionColor .container .row .cajaLateral {
  width: 400px;
  height: 400px;
  margin: 110px 20px;
  padding: 5px;
  border: 2px dashed #f29e9c;
}

main
  .sectionColor
  .container
  .row
  .animate__animated
  .formContact
  .blockMobile
  input {
  border: none;
  border-bottom: 1px solid #f29e9c;
  outline: 0;
}

main
  .sectionColor
  .container
  .row
  .animate__animated
  .formContact
  .block
  textarea {
  border: none;
  border-bottom: 1px solid #f29e9c;
  outline: 0;
  resize: none;
}

main .sectionColor .container .row .animate__animated .block button {
  background: #ed494a;
  color: white;
  border-radius: 10px;
  font-family: "Ubuntu", sans-serif;
  transition: background-color 300ms ease-out;
  outline: 0;
}

/* FIN MAIN CONTACTO */
/* INICIO FOOTER */
footer .container-fluid .socialMedia__face,
footer .container-fluid .socialMedia__twitter,
footer .container-fluid .socialMedia__insta,
footer .container-fluid .socialMedia__mail {
  width: 20px;
  height: 20px;
  transition: all 300ms ease-in-out;
}
footer .container-fluid .socialMedia__face:hover,
footer .container-fluid .socialMedia__twitter:hover,
footer .container-fluid .socialMedia__insta:hover,
footer .container-fluid .socialMedia__mail:hover {
  transform: scale(3) translateY(-3px);
}

/* FIN FOOTER */
/* INICIO MAPS */
.socialMedia__face {
  fill: blue;
}

.socialMedia__twitter {
  fill: #2cc0f1;
}

.socialMedia__insta {
  fill: #ff5100;
}

.socialMedia__mail {
  fill: gray;
}

.socialMedia__maps {
  color: #26659c;
  font-size: 1.1rem;
}

/* FIN MAPS */
/* INICIO EXTENDS */
.booking,
.bookingClinic,
.bookingPhone {
  width: 300px;
  height: 70px;
  margin: 20px auto;
  font-size: 1.1rem;
  font-family: "Ubuntu", sans-serif;
  border: none;
  border-radius: 10px;
}

.bookingClinic {
  background-color: #ed494a;
}
.bookingClinic:hover {
  background-color: #f29e9c;
}

.bookingPhone {
  color: #ed494a;
}
.bookingPhone:hover {
  background-color: #f29e9c !important;
  color: white;
}

/* FIN EXTENDS */

