/* INICIO HEADER */
header {
    background-color: white;
    top: 0;
    position: sticky;
    z-index: 999;
    .container-fluid {
        .navbar {
            div {
                .navbar-brand {
                    svg {
                        width: 180px;
                        height: 86px;
                    }
                }
            }
            .collapse {
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            font-size: 1.5rem;
                            color: $colorSecundario !important;
                            &:hover {
                                color: $colorHover !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* FIN HEADER */


